@page "/createquiz"
@using QuizApp.Shared.Models
@inject HttpClient Http

<h3>Create a New Quiz</h3>

<input placeholder="Quiz Title" @bind="newQuiz.Title" class="form-control w-50 mb-2" />
<button class="btn btn-primary" @onclick="DoCreateQuiz">Create Quiz</button>

@if (quizCreated)
{
    <div class="mt-3">
        <p>Quiz created! <a href=@($"/takequiz/{newQuiz.QuizId}")>Take Quiz</a></p>
    </div>
}

@code {
    private Quiz newQuiz = new Quiz();
    private bool quizCreated = false;

    private async Task DoCreateQuiz()
    {
        var response = await Http.PostAsJsonAsync("api/quiz", newQuiz);
        if (response.IsSuccessStatusCode)
        {
            newQuiz = await response.Content.ReadFromJsonAsync<Quiz>();
            quizCreated = true;
        }
    }
}
