@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">QuizApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#quizNavbar" aria-controls="quizNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="quizNavbar">
            <ul class="navbar-nav me-auto">
                <!-- "Home" link removed -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/createquiz">Create Quiz</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
